<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>展位管理</title>
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="tableView">
					<el-row>
						<el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
							<el-row>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="9" class="searchInline">
									<label class="el-form-item__label searchLabel">展位类型</label>
									<el-select size="small" v-model="searchForm.zwfl" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="item in zwlbData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :span="2">&nbsp;</el-col>
								<el-col :span="9" class="searchInline">
									<label class="el-form-item__label searchLabel">出口类型</label>
									<el-select size="small" v-model="searchForm.kkfl" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="item in cklxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
							</el-row>
							<div>
								<el-form>
									<el-col :span="12">
										<el-form-item align="left">
											<el-button type="success" icon="el-icon-download" size="small" @click="addClick">新增</el-button>
											<el-button type="danger" icon="el-icon-document" size="small" @click="deleteClick">删除</el-button>
										</el-form-item>
									</el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-form-item>
											<el-button type="primary" icon="el-icon-search" size="small" @click="searchClick">查询</el-button>
											<el-button type="clear" icon="el-icon-refresh" size="small" @click="clearClick">重置</el-button>
										</el-form-item>
									</el-col>
								</el-form>
							</div>
						</el-form>
					</el-row>
					<div class="table_container">
						<el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" class="tableStyle" :height="tableheight"
						 @selection-change="selectionChange">
							<el-table-column type="selection" width="35"></el-table-column>
							<el-table-column type="index" show-overflow-tooltip label="序号" width="65" align="center"></el-table-column>
							<el-table-column prop="zwflmc" show-overflow-tooltip label="展位类型" min-width="20%" align="center"></el-table-column>
							<el-table-column prop="kkflmc" show-overflow-tooltip label="出口类型" min-width="15%" align="center"></el-table-column>
							<el-table-column prop="flmj" show-overflow-tooltip label="单位面积(㎡)" min-width="15%" align="center"></el-table-column>
							<el-table-column prop="fljg" show-overflow-tooltip label="单位面积价格(元)" min-width="20%" align="center"></el-table-column>
							<el-table-column prop="fljgEng" show-overflow-tooltip label="单位面积价格(美元)" min-width="20%" align="center"></el-table-column>
							<el-table-column label="操作" width="80" align="center">
								<template slot-scope="scope">
									<el-button type="text" @click="editClick(scope.row)">编辑</el-button>
								</template>
							</el-table-column>
						</el-table>
						<!--列表底部工具条和分页符-->
						<el-row type="flex" justify="end">
							<el-col :span="18">
								<el-pagination @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage" :page-sizes="[10, 20, 30]"
								 :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total=parseInt(total)>
								</el-pagination>
							</el-col>
						</el-row>
					</div>
					<!-- 编辑-->
					<el-dialog :title="dialogTitle" :visible.sync="editFormVisible" @close="closeDialog('editForm')" :close-on-click-modal="false">
						<el-form :model="editForm" label-width="140px" :rules="editFormRules" ref="editForm">
							<el-row class="mt20">
								<el-form-item label="展位类型" prop="zwfl">
									<el-radio-group v-model="editForm.zwfl" size="small" @change="zwflChange">
										<el-radio v-for="item in zwlbData" class="radio" :label="item.codeValue">{{item.codeName}}</el-radio>
									</el-radio-group>
								</el-form-item>
							</el-row>
							<el-row>
								<el-form-item v-if="!isBzzw" label="出口类型" prop="kkfl">
									<el-radio-group v-model="editForm.kkfl" size="small">
										<el-radio v-for="item in cklxData" class="radio" :label="item.codeValue">{{item.codeName}}</el-radio>
									</el-radio-group>
								</el-form-item>
								<el-form-item v-else-if="isBzzw" label="出口类型">
									<el-radio-group v-model="editForm.kkfl" size="small" disabled>
										<el-radio v-for="item in cklxData" class="radio" :label="item.codeValue">{{item.codeName}}</el-radio>
									</el-radio-group>
								</el-form-item>
							</el-row>
							<el-row>
								<el-col :span="18">
									<el-form-item label="单位面积价格" prop="fljg">
										<el-input-number v-model="editForm.fljg" :min="0" :max="99999999.99" :precision="2" size="small"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="5" style="line-height: 40px;">（RMB/
									<span v-if="editForm.zwfl=='1'" v-text="editForm.flmj"></span>㎡）
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="18">
									<el-form-item label="" prop="fljgEng">
										<el-input-number v-model="editForm.fljgEng" :min="0" :max="99999999.99" :precision="2" size="small"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="5" style="line-height: 40px;">（USB/
									<span v-if="editForm.zwfl=='1'" v-text="editForm.flmj"></span>㎡）
								</el-col>
							</el-row>
							<el-row class="mt35 mb20 tc">
								<el-button type="clear" icon="el-icon-close" size="small" class="btn_submit" @click="closeDialog('editForm')"> 取消</el-button>
								<el-button type="success" icon="el-icon-check" size="small" class="btn_save" @click="editSubmit('editForm')">保存</el-button>
							</el-row>
						</el-form>
					</el-dialog>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
<script src="../../static/js/venue/positiontype_list.js"></script>

</html>