<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>展位选择</title>
	<link rel="stylesheet" type="text/css" href="../../static\css\venue\positon_select.css">
	<script src="../../static\js\common\config.js"></script>
</head>
<style>
	
</style>
<body class="fw f14 main-index-body">
	<div id="app">
		
		<div class="main-box">

			<div ref="ploterWrap" class="app-viewer-ploter-wrap positionlist" :style="ploterStyle">
				<div class="app-viewer-ploter-navigation">
					<div class="ploter-navigation-list">
						<el-button id="n" v-for="data in tableData" @click="getStage(data.uuid)" v-if="ploter.show" class="app-ploter-tools-graphs-menu-item">
							{{data.zgmc}}
						</el-button>
					</div>
					<div class="ploter-navigation-tools">
						<el-button class="cancelbtn" v-for='data1 in yxzwData' icon="el-icon-cancel" id="closebtn"  @click="handlerDel($event,data1.uuid)" v-if="ploter.show" class="app-ploter-tools-graphs-menu-item">{{data1.zwh}}</el-button>
						<el-button icon="el-icon-export"  :disabled="isExportDisabled" class="btn" @click="handlerExport">展馆导出</el-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../../static\js\zzzlib\postmate.js"></script>
<script src="../../static\js\common\config.js"></script>
<script src="../../static/js/venue/position_select_list.js"></script>
</html>