<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>展位管理</title>
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="tableView">
					<el-row>
						<el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
							<el-row>
								<el-col :span="8" class="searchInline">
									<label class="el-form-item__label searchLabel">展位编号</label>
									<el-input size="small" v-model="searchForm.zwh" placeholder="展位编号" clearable></el-input>
								</el-col>
								<el-col :span="8" class="searchInline">
									<label class="el-form-item__label searchLabel">公司名称</label>
									<el-input size="small" v-model="searchForm.qymc" placeholder="公司名称" clearable></el-input>
								</el-col>
								<el-col :span="8" class="searchInline">
									<label class="el-form-item__label searchLabel">展位类型</label>
									<el-select size="small" v-model="searchForm.zwlb" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="item in zwlbData" :key="item.name" :label="item.name" :value="item.name"></el-option>
									</el-select>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="8" class="searchInline">
									<label class="el-form-item__label searchLabel">出口类型</label>
									<el-select size="small" v-model="searchForm.cklx" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="item in cklxData" :key="item.codeValue" :label="item.codeName" :value="item.codeName"></el-option>
									</el-select>
								</el-col>
								<el-col :span="8" class="searchInline">
									<label class="el-form-item__label searchLabel">展位状态</label>
									<el-select size="small" v-model="searchForm.zwzt" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="item in dataStatus" :key="item.value" :label="item.name" :value="item.value"></el-option>
									</el-select>
								</el-col>
							</el-row>
							<div>
								<el-form>
									<el-col :span="12">
										<el-form-item align="left">
											<el-button type="success" icon="el-icon-download" size="small" @click="exportClick">导出</el-button>
											<el-button type="warning" icon="el-icon-document" size="small" @click="analysisClick">分析</el-button>
										</el-form-item>
									</el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-form-item>
											<el-button type="primary" icon="el-icon-search" size="small" @click="searchClick">查询</el-button>
											<el-button type="clear" icon="el-icon-refresh" size="small" @click="clearClick">重置</el-button>
										</el-form-item>
									</el-col>
								</el-form>
							</div>
						</el-form>
					</el-row>
					<div class="table_container">
						<el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" class="tableStyle" :height="tableheight"
						 row-style="height:40px">
							<!-- modify by yushch 20181218
							<el-table-column type="index" show-overflow-tooltip label="序号" width="65" align="center"></el-table-column>
							<el-table-column prop="zwh" show-overflow-tooltip label="展位编号" min-width="15%" align="center"></el-table-column>
							<el-table-column prop="zwmc" show-overflow-tooltip label="展位名称" min-width="15%" align="center"></el-table-column>
							<el-table-column prop="zwmj" show-overflow-tooltip label="展位面积" min-width="15%" align="center"></el-table-column>
							<el-table-column prop="zwzt" label="展位状态" show-overflow-tooltip min-width="10%" align="center">
								<template slot-scope="scope">
									<div>
										<span v-if="scope.row.zwzt == 'completed'" v-text="scope.row.zwztmc" style="color:#199200"></span>
										<span v-else-if="scope.row.zwzt == 'allotted'" v-text="scope.row.zwztmc" style="color:#f00000"></span>
										<span v-else-if="scope.row.zwzt == 'bespoke'" v-text="scope.row.zwztmc" style="color:#827700"></span>
										<span v-else-if="scope.row.zwzt == 'normal'" v-text="scope.row.zwztmc" style="color:#666"></span>
										<span v-else v-text="scope.row.zwztmc"></span>
									</div>
								</template>
							</el-table-column>
							<el-table-column prop="qymc" show-overflow-tooltip label="公司名称" min-width="15%" align="center">
								<template slot-scope="scope">
									<a v-if="scope.row.usertype == 'ENG'" v-text="scope.row.qymc" @click="qyDetails(scope.row)"></a>
									<a v-else v-text="scope.row.qymc" @click="qyDetails(scope.row)"></a>
								</template> 
							</el-table-column>
						-->
							<el-table-column type="index" show-overflow-tooltip label="序号" width="65" align="center"></el-table-column>
							<el-table-column prop="zwh" show-overflow-tooltip label="展位编号" min-width="10%" align="center"></el-table-column>
							<el-table-column prop="qymc" show-overflow-tooltip label="公司名称" min-width="12%" align="center">
								<template slot-scope="scope">
									<a v-if="scope.row.usertype == 'ENG'" v-text="scope.row.qymc" @click="qyDetails(scope.row)"></a>
									<a v-else v-text="scope.row.qymc" @click="qyDetails(scope.row)"></a>
								</template>
							</el-table-column>
							<el-table-column prop="zwmj" show-overflow-tooltip label="展位面积" min-width="10%" align="center"></el-table-column>
							<el-table-column prop="zwlb" show-overflow-tooltip label="展位类型" min-width="10%" align="center"></el-table-column>
							<el-table-column prop="cklx" show-overflow-tooltip label="出口类型" min-width="10%" align="center"></el-table-column>
							<el-table-column prop="zwztmc" show-overflow-tooltip label="展位状态" min-width="10%" align="center"></el-table-column>
							<el-table-column prop="lxr" show-overflow-tooltip label="联系人名称" min-width="10%" align="center"></el-table-column>
							<el-table-column prop="lxrsj" show-overflow-tooltip label="联系人电话" min-width="10%" align="center"></el-table-column>
							<el-table-column prop="yjdzxx" show-overflow-tooltip label="联系地址" min-width="10%" align="center"></el-table-column>
							<el-table-column label="操作" width="80" align="center">
								<template slot-scope="scope">
									<el-button v-if="scope.row.zwzt=='bespoke'" type="text" @click="cancleVenue(scope.row)">取消指定</el-button>
								</template>
							</el-table-column>
						</el-table>
						<!--列表底部工具条和分页符-->
						<el-row type="flex" justify="end">
							<el-col :span="18">
								<el-pagination @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage" :page-sizes="[10, 20, 30]"
								 :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total=parseInt(total)>
								</el-pagination>
							</el-col>
						</el-row>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
<script src="../../static/js/venue/position_list.js"></script>

</html>