<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>展位设计</title>
	<link rel="stylesheet" type="text/css" href="../../static\css\venue\positon_design.css">
</head>

<body class="fw f14 main-index-body" onload="location.replace()">
	<div id="app">

		<div class="main-box">

			<div ref="ploterWrap" class="app-editor-ploter-wrap positionlist" :style="ploterStyle">
				<div class="app-editor-ploter-navigation">

					<div class="ploter-navigation-list">
						<el-button v-for="data in zgtableData" @click="getStage(data.uuid,$event)" v-if="ploter.show" class="app-ploter-tools-graphs-menu-item">
							{{data.zgmc}}
						</el-button>
					</div>

					<div class="ploter-navigation-tools">
						<el-button icon="el-icon-position" class="btn" @click="handlerDrawArea">绘制展位</el-button>
						<!-- <el-popover
							placement="bottom"
							width="470"
							trigger="hover"
							content="绘制出口">
							<el-card class="box-card" width="150">
								<div slot="header" class="clearfix">
									<span>标准展位</span>
								</div>
								<img class="imagez"  src="../../static/images/plot/icn_standard_l.png" @click="handlerDrawDoor(doors[5])"/>
							</el-card>
                            <el-card class="box-card">
								<div slot="header" class="clearfix">
									<span>光地（四面开）</span>
								</div>
								<img class="imagez" src="../../static/images/plot/icn_open4_l.png" @click="handlerDrawDoor(doors[0])"/>
							</el-card>
							<el-card class="box-card" width="150">
								<div slot="header" class="clearfix">
									<span>光地（三面开）</span>
								</div>
								<img class="imagez" src="../../static/images/plot/icn_open3_l.png"@click="handlerDrawDoor(doors[1])"/>
							</el-card>
							<el-card class="box-cardz" width="150">
								<div slot="header" class="clearfix">
									<span>光地（两面开）</span>
								</div>
								<img class="imagez" src="../../static/images/plot/icn_open2_l.png"  @click="handlerDrawDoor(doors[2])"/>
								<img class="imagez" src="../../static/images/plot/icn_open2-2_l.png"  @click="handlerDrawDoor(doors[3])"/>
							</el-card>
							<el-card class="box-card" width="150">
								<div slot="header" class="clearfix">
									<span>光地（单面开）</span>
								</div>
								<img class="imagez" src="../../static/images/plot/icn_open1_l.png"  @click="handlerDrawDoor(doors[4])"/>
							</el-card>
							
							<el-button slot="reference" icon="el-icon-exit" class="btn" class="app-ploter-tools-graphs-menu-item">
									绘制出口
							</el-button>
						</el-popover> -->
						<el-button icon="el-icon-save" class="btn" @click="handlerSaveBtnClick" :disabled="isDisabled">保存</el-button>
						<el-button icon="el-icon-cancel" class="btn" @click="handlerCancelBtnClick">取消修改</el-button>
					</div>
				</div>
			</div>

			<el-dialog title="选择企业" :visible.sync="dialogVisible" v-if="dialogVisible" :close-on-click-modal="false">
				<!-- 选择企业 -->
				<div id="tableView">
					<el-row>
						<el-col :span="17" class="searchInline">
							<label class="el-form-item__label" style="width:95px;" class="tr vbm">公司名称</label>
							<el-input size="small" v-model="searchForm.gsmc" placeholder="公司名称" clearable></el-input>
						</el-col>
						<el-col :span="7" class="btnSearchPlus">
							<!-- <el-button type="success" icon="el-icon-search" size="small" @click="confirm">确定</el-button> -->
							<el-button type="primary" icon="el-icon-search" size="small" @click="searchClick">查询</el-button>
							<el-button type="clear" icon="el-icon-refresh" size="small" @click="clearClick">重置</el-button>
						</el-col>
					</el-row>
					<div class="table_container">
						<el-table id="table" border class="tableStyle poi" :height="tableheight" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
						 highlight-current-row row-style="height:40px" @row-click="confirm">

							<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
							<el-table-column prop="zwgsmc" label="公司名称" show-overflow-tooltip min-width="25%" align="center">
								<!-- <template slot-scope="scope">
										<a v-if="scope.row.usertype == 'ENG'" v-text="scope.row.zwgsmc" @click="qyDetails(scope.row)"></a>
										<a v-else v-text="scope.row.zwgsmc" @click="qyDetails(scope.row)"></a>
									</template>  -->
							</el-table-column>
							<el-table-column prop="tyshxydm" label="统一社会信用代码" show-overflow-tooltip min-width="20%" align="center" :formatter="tableLongNumFormat"></el-table-column>
							<el-table-column prop="wz" label="公司网址" show-overflow-tooltip min-width="20%" align="center">
							</el-table-column>
						</el-table>
						<!--列表底部工具条和分页符-->
						<el-row type="flex" justify="end">
							<el-col :span="18">
								<el-pagination @current-change="currentPageChange" @size-change="pageSizeChange" :current-page="currentPage" :page-sizes="[10, 20, 30]"
								 :page-size="pageSize" layout="total, prev, pager, next, jumper" :total=parseInt(total)>
								</el-pagination>
							</el-col>
						</el-row>
					</div>
				</div>
			</el-dialog>

		</div>
	</div>
</body>
<script src="../../static\js\zzzlib\postmate.js"></script>
<script src="../../static\js\common\config.js"></script>
<script src="../../static/js/venue/position_design_list.js"></script>

</html>