<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>展位数据分析</title>
</head>
<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="tableView">
                    <el-row>
                        <el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
                            <el-form-item label="展馆名称" prop=searchForm.zgmc>
                                <el-checkbox-group v-model="selectedZg">
                                    <el-checkbox v-for="item in zgData" :label="item.zgmc" :key="item.uuid" checked>{{item.zgmc}}</el-checkbox>
                                </el-checkbox-group>
                            </el-form-item>
                           <div>
								<el-form>
									<el-col :span="12" align="left">
                                        <el-form-item>
                                            <el-button type="success" icon="el-icon-download" size="small" @click="exportClick">导出</el-button>
                                        </el-form-item>
                                    </el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-form-item>
											<el-button type="primary" icon="el-icon-search" size="small" @click="searchClick">查询</el-button>
											<el-button type="clear" icon="el-icon-refresh" size="small" @click="clearClick">重置</el-button>
										</el-form-item>
									</el-col>
								</el-form>
							</div>
                        </el-form>
                    </el-row>
                    <div class="table_container">
                        <el-table id="table" border class="tableStyle" :height="tableheight" row-style="height:40px" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)">
                            
                            <el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
                            <el-table-column prop="gsmc" label="公司名称" show-overflow-tooltip min-width="25%" align="center">
                            </el-table-column>
                            <el-table-column prop="lxr" label="联系人" show-overflow-tooltip min-width="12%" align="center"></el-table-column>
                            <el-table-column prop="lxrsj" label="联系人电话" show-overflow-tooltip min-width="13%" align="center"></el-table-column>
                            <el-table-column prop="zwnum" label="展位数量" show-overflow-tooltip min-width="10%" align="center"></el-table-column>
                            <el-table-column prop="zwh" label="展位号" show-overflow-tooltip min-width="32%" align="center"></el-table-column>
                            
                        </el-table>

                        <!--列表底部工具条和分页符-->
                        <el-row type="flex" justify="end">
                            <el-col :span="18">
                                <el-pagination @current-change="currentPageChange" @size-change="pageSizeChange" :current-page="currentPage" :page-sizes="[10, 20, 30]"
                                    :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total=parseInt(total)>
                                </el-pagination>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/venue/position_analysis.js"></script>

</html>