<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>展管管理</title>
</head>
<style>

</style>
<body class="fw f14 main-index-body">
	<div id="app">
			<div class="main-box">
				<div class="main-container" v-loading="loading" element-loading-text="加载中">
					<!-- 面包屑 -->
					<div id="breadcrumb_box"></div>
					<div id="tableView">
						<el-row>
							<el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
								<el-row>
									<el-col :span="8" class="searchInline">
										<label class="el-form-item__label searchLabel">展馆名称</label>
										<el-input size="small" v-model="searchForm.zgmc" placeholder="展馆名称" clearable></el-input>
									</el-col>
								</el-row>
								<div>
									<el-form>
										<el-col :span="12" class="btnEditDelete">
											<el-form-item align="left">
                                                <el-button v-if="hasPermission('venue/trader:add')" type="success" icon="el-icon-plus" size="small" @click="addClick">新增</el-button>
                                                <el-button v-if="hasPermission('venue/trader:delete')" type="danger" icon="el-icon-delete" size="small" @click="removeSelection">删除</el-button>
											</el-form-item>
										</el-col>
										<el-col :span="12"></el-col>
										<el-col :span="12" class="btnSearchPlus">
											<el-form-item>
												<el-button type="primary" icon="el-icon-search" size="small" @click="searchClick">查询</el-button>
												<el-button type="clear" icon="el-icon-refresh" size="small" @click="clearClick">重置</el-button>
											</el-form-item>
										</el-col>
									</el-form>
								</div>
							</el-form>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
								@selection-change="selectionChange" class="tableStyle" :height="tableheight" row-style="height:40px">
								<el-table-column type="selection" width="35"></el-table-column>
								<el-table-column type="index" show-overflow-tooltip label="序号" width="65" align="center"></el-table-column>
								<el-table-column prop="zgmc" show-overflow-tooltip label="展馆名称" min-width="15%" align="center"></el-table-column>
								<el-table-column prop="zgtpStr" show-overflow-tooltip label="展馆图片" min-width="12%" align="center">
								<!-- 图片加载 -->
								<template  slot-scope="scope" v-if="scope.row.zgtpStr">
									<img :src="scope.row.zgtpStr" :alt="scope.row.zgtpStr" @click="imgPreview(scope.row.zgtpStr)" style="max-height: 40px;max-width: 130px" >
								</template> 
								</el-table-column>
								<el-table-column label="操作" width="65" align="center" v-if="hasPermission('venue/trader:edit')">
									<template slot-scope="scope">
										<el-button type="text" @click="editClick(scope.row,scope.$index)">编辑</el-button>
									</template>
								</el-table-column>
							</el-table>
	
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination 
										@size-change="pageSizeChange" 
										@current-change="currentPageChange" 
										:current-page="currentPage"
										:page-sizes="[10, 20, 30]" 
										:page-size="pageSize" 
										layout="total, sizes, prev, pager, next, jumper" 
										:total=parseInt(total)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
	
						<!-- 新增上传-->
						<el-dialog  :title="dialogTitle" :visible.sync="editFormVisible"  @close="closeDialog(createForm)" :close-on-click-modal="false">
							<el-form :model="createForm" :label-width="80"  :rules="createFormRules" ref="createForm">
								<el-row>
										<el-col :span="1">&nbsp;</el-col>
										<el-col :span="22">
											<el-form-item label="展馆名称" prop="name" >
												<el-input maxlength="25" style="width:400px;" v-model="createForm.name" placeholder="请填写展馆名称..." size="small" auto-complete="off" clearable></el-input>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<el-row>
									<el-col :span="1">&nbsp;</el-col>
									<el-col :span="22">
										<el-form-item label="展馆图片">
												<el-button type="primary" size="small" @click="handlerSelectPhotoBtnClick">选择平面图</el-button>
												<span class="allname">*选择图片为png/jpg格式</span>
												<!-- <span class="file-name">
													<template v-if="createForm.photoName">已选择：{{createForm.photoName}}</template>
													<template v-else>未选择图片</template>
												</span> -->
												<input ref="localImageInput"
													type="file"
													name="image"
													accept="image/*"
													style="display:none"
													@change="handlerSelectedPhoto"
												/>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<!-- <FormItem label="展馆图片">
									<br/>
									<br/>
									<span class="name">展馆图片</span>
									<el-button type="primary" size="small" @click="handlerSelectPhotoBtnClick">选择平面图</el-button>
									<span class="allname">*选择图片为png格式</span>
									<span class="file-name">
										<template v-if="createForm.photoName">已选择：{{createForm.photoName}}</template>
										<template v-else>未选择图片</template>
									</span>
									<input ref="localImageInput"
										type="file"
										name="image"
										accept="image/*"
										style="display:none"
										@change="handlerSelectedPhoto"
									/>
								</FormItem> -->
							<!-- </Form> -->
							</el-form>
							<el-row class="mt35 mb20">
							<el-col :span="24" style="text-align: center">
							<el-button type="clear"  icon="el-icon-close" size="small" class="btn_submit" @click="closeDialog(createForm)">取消</el-button>
							<el-button type="success" icon="el-icon-check" size="small" @click="handlerCreateModalOK">保存</el-button>
							</el-col>
							</el-row>
						</el-dialog>

						<!--图片预览-->
						<el-dialog id="previewImgDialog" :visible.sync="showPicVisible" :close-on-click-modal="false" size="tiny">
							<img :src="previewImg" width="100%"  class="mt15"></img>
						</el-dialog>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/venue/trader_list.js"></script>
</html>