<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../../static/css/prediction/exhprediction_edit.css">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>展会报名</title>
    <link rel="icon" href="../../static/images/login/logo.png">
</head>

<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <!-- 邮寄信息确认 -->
                <el-row class="mt20">
                    <el-card class="card_style">
                        <div slot="header" class="clearfix">
                            <strong class="card_title_font lh36">邮寄信息确认</strong>
                            <el-button v-if="jbxxEditFlag" @click="editJbxxClick" :disabled="shztFlag" class="r" type="primary" icon="el-icon-edit">修改</el-button>
                            <div v-else class="r">
                                <el-button @click="saveJbxxCancle('jbxxForm')" type="info" icon="el-icon-check">取消</el-button>
                                <el-button @click="saveJbxxClick('jbxxForm')" type="success" icon="el-icon-check">保存</el-button>
                            </div>
                        </div>
                        <el-row>
                            <el-col :span="1">&nbsp;</el-col>
                            <el-col :span="21">
                                <el-form ref="jbxxForm" :model="jbxxForm" label-position="right" label-width="150px" :rules="jbxxRules">
                                    <el-row>
                                        <el-form-item prop="zwgsmc" label="中文公司名称">
                                            <el-input size="small" v-model="jbxxForm.zwgsmc" disabled></el-input>
                                        </el-form-item>
                                    </el-row>
                                    <el-row>
                                        <el-form-item prop="lxr" label="联系人">
                                            <el-input size="small" v-model="jbxxForm.lxr" placeholder="联系人" :disabled="jbxxEditFlag"></el-input>
                                        </el-form-item>
                                    </el-row>
                                    <el-row>
                                        <el-form-item prop="lxrsj" label="联系人手机">
                                            <el-input size="small" v-model="jbxxForm.lxrsj" placeholder="手机" :disabled="jbxxEditFlag"></el-input>
                                        </el-form-item>
                                    </el-row>
                                    <el-row>
                                        <el-form-item prop="xzqh" label="邮寄地址（省市）">
                                            <el-cascader v-model="jbxxForm.xzqh" :options="xzqhDataTree" :props="defaultProps" size="small" placeholder="省/市" class="searchSelect"
                                                clearable show-all-levels :disabled="jbxxEditFlag"></el-cascader>
                                        </el-form-item>
                                    </el-row>
                                    <el-row>
                                        <el-form-item prop="yjdzxx" label="邮寄详细地址">
                                            <el-input size="small" v-model="jbxxForm.yjdzxx" placeholder="详细地址" :disabled="jbxxEditFlag"></el-input>
                                        </el-form-item>
                                    </el-row>
                                </el-form>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-row>
                <el-row class="mt10">
                    <el-card class="card_style">
                        <div slot="header" class="clearfix">
                            <strong class="card_title_font lh36">开票信息确认</strong>
                            <el-button v-if="kpxxEditFlag" @click="editKpxxClick" :disabled="shztFlag" class="r" type="primary" icon="el-icon-edit">修改</el-button>
                            <div v-else class="r">
                                <el-button @click="saveKpxxCancle('kpxxForm')" type="info" icon="el-icon-check">取消</el-button>
                                <el-button @click="saveKpxxClick('kpxxForm')" type="success" icon="el-icon-check">保存</el-button>
                            </div>
                        </div>
                        <el-row>
                            <el-col :span="1">&nbsp;</el-col>
                            <el-col :span="21">
                                <el-form ref="kpxxForm" :model="kpxxForm" label-position="right" label-width="150px" :rules="kpxxRules">
                                    <el-row>
                                        <el-form-item prop="kplx" label="开票类型" style="text-align: left">
                                            <el-radio-group v-model="kpxxForm.kplx" size="small" auto-complete="off" @change="fplxChange" :disabled="kpxxEditFlag">
                                                <el-radio class="radio" :label="'1'">增值税专用发票</el-radio>
                                                <el-radio class="radio" :label="'2'">增值税普通发票</el-radio>
                                            </el-radio-group>
                                        </el-form-item>
                                    </el-row>
                                    <el-row>
                                        <el-form-item prop="kpgsmc" label="开票公司名称">
                                            <el-input size="small" v-model="kpxxForm.kpgsmc" placeholder="开票公司名称" :disabled="kpxxEditFlag"></el-input>
                                        </el-form-item>
                                    </el-row>
                                    <el-row>
                                        <el-form-item prop="tyshxydm" label="统一社会信用代码" :onkeyup="addBlankXydm()">
                                            <el-input size="small" v-model="kpxxForm.tyshxydm" placeholder="统一社会信用代码" :disabled="kpxxEditFlag"></el-input>
                                        </el-form-item>
                                    </el-row>
                                    <el-row>
                                        <el-form-item prop="gsdz" label="公司地址" :rules="kpxxForm.kplx == '1'?kpxxRules.gsdz:[{ required: false, message: '请输入公司地址', trigger: 'blur' },{ min: 1, max: 150, message: '最多可输入150个字', trigger: 'blur' }]">
                                            <el-input size="small" v-model="kpxxForm.gsdz" placeholder="公司地址" :disabled="kpxxEditFlag"></el-input>
                                        </el-form-item>
                                    </el-row>
                                    <!-- 专用发票 -->
                                    <el-row v-if="kpxxForm.kplx == '1'">
                                        <el-row>
                                            <el-form-item prop="dhhm" label="电话号码" >
                                                <el-input size="small" v-model="kpxxForm.dhhm" maxlength="50" placeholder="电话号码" :disabled="kpxxEditFlag"></el-input>
                                            </el-form-item>
                                        </el-row>
                                        <el-row>
                                            <el-form-item prop="khyh" label="开户银行">
                                                <el-input size="small" v-model="kpxxForm.khyh" placeholder="开户银行" :disabled="kpxxEditFlag"></el-input>
                                            </el-form-item>
                                        </el-row>
                                        <el-row>
                                            <el-form-item prop="yhzh" label="银行账号" :onkeyup="addBlankYhzh()">
                                                <el-input size="small" v-model="kpxxForm.yhzh" placeholder="银行账号" :disabled="kpxxEditFlag"></el-input>
                                            </el-form-item>
                                        </el-row>
                                    </el-row>
                                </el-form>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-row>
            </div>
        </div>
    </div>
</body>

<script src="../../static/js/common/config.js"></script>
<script src="../../static/js/exhibitor/confirm_list.js"></script>

</html>