<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../../static/css/exhibitor/product_list.css">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>产品介绍</title>
</head>
<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <div id="lib :: main_container_header('产品介绍','产品介绍')"></div>
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <!--产品介绍-->
                <div id="qycpjs" class="mb5" style="margin-top: 10px">
                    <el-row class="mb10">
                        <el-col :span="24">
                            <el-form>
                                <el-form-item align="left">
                                    <el-button type="success" icon="el-icon-plus" size="small" @click="addClick()">新增</el-button>
                                </el-form-item>
                            </el-form>
                            <el-form id="cpjs" v-if="cpjsData.length>0" :inline="true" style="width: 100%;" class="demo-form-inline">
                                <el-form-item v-for="(cpjs,index) in cpjsData" style="width: 100%;">
                                    <el-card class="mb10 card_style" id="cpjsImg">
                                        <div slot="header" class="clearfix">
                                            <div class="r">
                                                <el-button type="danger" size="small" icon="el-icon-delete" @click="deleteClick(cpjs)">删除</el-button>                                            
                                                <el-button type="primary" size="small" icon="el-icon-edit" @click="editClick(cpjs)">修改</el-button>
                                            </div>
                                        </div>
                                        <el-row class="h100">
                                            <el-col :span="5" class="h100 tc">
                                                <img v-if="cpjs.src!==''" :src="cpjs.imageUrl" @click="imgPreview(cpjs.imageUrl)"
                                                    class="poi">
                                                <img v-else src="../../static/images/noPic.png">
                                            </el-col>
                                            <el-col :span="19" style="line-height: 24px" class="pl15 mb10">
                                                <strong>产品类型：</strong>
                                                <v-text v-text="cpjs.cplxmc||'无'"></v-text>
                                                <br>
                                                <strong>产品简介：</strong>
                                                <v-text v-text="cpjs.cpjj||'无'"></v-text>
                                                <br>
                                                <strong>产品英文简介：</strong>
                                                <v-text v-text="cpjs.reserve1||'无'"></v-text>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                </el-form-item>
                            </el-form>
                            <v-text v-else>暂无产品信息</v-text>
                        </el-col>
                    </el-row>
                </div>
                <!--产品编辑-->
				<el-dialog :title="dialogTitle" :visible.sync="editFormVisible" @close="closeDialog(editForm)" :close-on-click-modal="false">
					<el-form :model="editForm" label-width="110px" :rules="editFormRules" ref="editForm">
						<el-row>
                            <el-form-item label="产品图片" style="text-align: left" class="is-required">
                                <el-upload class="avatar-uploader" ref="uploadCpPics" action="/xfxhapi/qycpjs/upload" :on-success="cpjsPicSuccess" :before-upload="CpPicsChange"
                                        :show-file-list="false" :data="CpjsUpLoadData">
                                    <img v-if="editForm.src!=='' && editForm.src!==null" :src="editForm.imageUrl" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                    <div class="el-upload__tip" slot="tip" style="line-height:0px">jpg/png文件，且小于2MB</div>
                                </el-upload>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <el-form-item prop="cplx" label="产品所属分类">
                                <el-cascader :options="cpssfl_data" :props="defaultProps" size="small" v-model="editForm.cplx" placeholder="产品所属分类" class="searchSelect"
                                            clearable show-all-levels></el-cascader>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <div class="el-upload__tip"></div>
                        </el-row>
                        <el-row id="cpjsArea">
                            <el-form-item prop="cpjj" label="产品简介">
                                <el-input type="textarea" maxlength="150" :rows="2" placeholder="产品简介" v-model="editForm.cpjj" :onkeyup="checkWord(editForm.cpjj,'cpjs_span','150')"></el-input>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <div class="el-upload__tip" style="float: right;">还可输入<span style="color: red" id="cpjs_span">{{150-editForm.cpjj.length}}</span>字</div>
                        </el-row>
                        <el-row id="cpjsArea">
                            <el-form-item prop="reserve1" label="产品英文简介">
                                <el-input type="textarea" maxlength="400" :rows="2" placeholder="产品英文简介" v-model="editForm.reserve1" onkeyup="checkWord(editForm.reserve1,'cpjsEng_span','400')"></el-input>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <div class="el-upload__tip" style="float: right;">还可输入
                                <span v-if="editForm.reserve1!=null" style="color: red" id="cpjsEng_span">{{400-editForm.reserve1.length}}</span>
                                <span v-else style="color: red" id="cpjsEng_span">400</span>
                                个英文字符</div>
                        </el-row>
						<el-row class="mt35 mb20">
							<el-col :span="24" style="text-align: center">
								<el-button type="clear" icon="el-icon-close" size="small" class="btn_submit" @click="closeDialog(editForm)"> 取消</el-button>
								<el-button type="success" icon="el-icon-check" size="small" class="btn_save" @click="editSubmit(editForm)">保存</el-button>
							</el-col>
						</el-row>
					</el-form>
				</el-dialog>
                <!--图片预览-->
                <el-dialog id="previewImgDialog" v-if="true" :visible.sync="showPicVisible" :close-on-click-modal="false" size="tiny">
                    <img :src="previewImg" width="100%" class="mt15"></img>
                </el-dialog>
            </div>

        </div>
        <!-- main-container -->
    </div>
    </div>
   
</body>

<script src="../../static/js/common/config.js"></script>
<script src="../../static/js/exhibitor/product_list.js"></script>

</html>