<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../../static/css/exhibitor/product_list.css">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Products</title>
</head>
<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            
            <div class="main-container" v-loading="loading" element-loading-text="loading">
                <div id="lib :: main_container_header('Products','Products')"></div>
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <!--产品介绍-->
                <div id="qycpjs" class="mb5" style="margin-top: 10px">
                    <el-row class="mb10">
                        <el-col :span="24">
                            <el-form>
                                <el-form-item align="left">
                                    <el-button type="success" icon="el-icon-plus" size="small" @click="addClick()">add</el-button>
                                </el-form-item>
                            </el-form>
                            <el-form id="cpjs" v-if="cpjsData.length>0" :inline="true" style="width: 100%;" class="demo-form-inline">
                                <el-form-item v-for="(cpjs,index) in cpjsData" style="width: 100%;">
                                    <el-card class="mb10 card_style" id="cpjsImg">
                                        <div slot="header" class="clearfix">
                                            <div class="r">
                                                <el-button type="danger" size="small" icon="el-icon-delete" @click="deleteClick(cpjs)">delete</el-button>                                            
                                                <el-button type="primary" size="small" icon="el-icon-edit" @click="editClick(cpjs)">edit</el-button>
                                            </div>
                                        </div>
                                        <el-row class="h100">
                                            <el-col :span="5" class="h100 tc">
                                                <img v-if="cpjs.src!==''" :src="cpjs.imageUrl" @click="imgPreview(cpjs.imageUrl)"
                                                    class="poi">
                                                <img v-else src="../../static/images/noPic.png">
                                            </el-col>
                                            <el-col :span="19" style="line-height: 24px" class="pl15 mb10">
                                                <strong>Category of the Product：</strong>
                                                <v-text v-text="cpjs.cplxmc_ENG||'no'"></v-text>
                                                <br>
                                                <strong>Product Introduction：</strong>
                                                <v-text v-text="cpjs.cpjj||'no'"></v-text>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                </el-form-item>
                            </el-form>
                            <v-text v-else>Have no product information</v-text>
                        </el-col>
                    </el-row>
                </div>
                <!--产品编辑-->
				<el-dialog :title="dialogTitle" :visible.sync="editFormVisible" @close="closeDialog(editForm)" :close-on-click-modal="false">
					<el-form :model="editForm" label-width="200px" :rules="editFormRules" ref="editForm">
						<el-row>
                            <el-form-item label="Product Photo" style="text-align: left" class="is-required">
                                <el-upload class="avatar-uploader" ref="uploadCpPics" action="/xfxhapi/qycpjs/upload" :on-success="cpjsPicSuccess" :before-upload="CpPicsChange"
                                        :show-file-list="false" :data="CpjsUpLoadData">
                                    <img v-if="editForm.src!=='' && editForm.src!==null" :src="editForm.imageUrl" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                    <div class="el-upload__tip" slot="tip" style="line-height:0px">jpg/png,less than 2MB</div>
                                </el-upload>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <el-form-item prop="cplx" label="Category of the Product">
                                <el-cascader :options="cpssfl_data" :props="defaultProps" size="small" v-model="editForm.cplx" placeholder="Category of the Product" class="searchSelect"
                                            clearable show-all-levels></el-cascader>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <div class="el-upload__tip"></div>
                        </el-row>
                        <el-row id="cpjsArea">
                            <el-form-item prop="cpjj" label="Product Introduction">
                                <el-input type="textarea" maxlength="300" :rows="2" placeholder="Product Introduction" 
                                v-model="editForm.cpjj" onkeyup="value=value.replace(/[^\w\.\@\#\~\^\:\;\$\%\&\*\'\<\>\(\)\[\]\{\}\\\|\-\_\+\=\`\,\!\?\/ ]/ig,'')"></el-input>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <div class="el-upload__tip" style="float: right;">less than 300 characters</div>
                        </el-row>
						<el-row class="mt35 mb20">
							<el-col :span="24" style="text-align: center">
								<el-button type="clear" icon="el-icon-close" size="small" class="btn_submit" @click="closeDialog(editForm)"> Cancel</el-button>
								<el-button type="success" icon="el-icon-check" size="small" class="btn_save" @click="editSubmit(editForm)">Submit</el-button>
							</el-col>
						</el-row>
					</el-form>
				</el-dialog>
                <!--图片预览-->
                <el-dialog id="previewImgDialog" :visible.sync="showPicVisible" :close-on-click-modal="false" size="tiny">
                    <img :src="previewImg" width="100%" class="mt15"></img>
                </el-dialog>
            </div>

        </div>
        <!-- main-container -->
    </div>
    </div>
   
</body>

<script src="../../static/js/common/config.js"></script>
<script src="../../static/js/exhibitor/product_list_ENG.js"></script>

</html>