<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>产品类型下企业信息</title>
</head>
<style>
    #singleRow .el-table th,
    #singleRow .el-table tr {
        height: 42.2px;
    }

    .searchInline .el-date-editor {
        width: 100%;
    }
</style>

<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="tableView">
                    <el-row>
                        <el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
                            <el-row>
                                <el-col :span="1">&nbsp;</el-col>
                                <el-col :span="9" class="searchInline">
                                    <label class="el-form-item__label searchLabel">确认时间</label>
                                    <el-date-picker v-model="dataRange" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"
                                        :default-time="['00:00:00', '23:59:59']" size="small">
                                    </el-date-picker>
                                </el-col>
                                <el-col :span="2">&nbsp;</el-col>
                                <el-col :span="9" class="searchInline">
                                    <label class="el-form-item__label searchLabel">是否确认</label>
                                    <el-select size="small" v-model="searchForm.qrzt" placeholder="全部" class="searchSelect">
                                        <el-option label="已确认" value="1"></el-option>
                                        <el-option label="未确认" value="0"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row class="tr">
                                <el-button type="primary" icon="el-icon-search" size="small" @click="searchClick">查询</el-button>
                                <el-button type="clear" icon="el-icon-refresh" size="small" @click="clearClick">重置</el-button>
                            </el-row>
                        </el-form>
                    </el-row>
                    <div class="table_container" id="singleRow">
                        <el-table id="table" border class="tableStyle" :height="tableheight" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)">
                            <!-- <el-table-column type="selection" width="35"></el-table-column> -->
                            <el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
                            <el-table-column prop="zwgsmc" label="公司名称" show-overflow-tooltip min-width="30%" align="center">
                                <template slot-scope="scope">
                                    <span v-if="scope.row.usertype == 'ENG'" v-text="scope.row.ywgsmc" @click="qyDetails(scope.row)"></span>
                                    <span v-else v-text="scope.row.zwgsmc"></span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="lxr" label="联系人" show-overflow-tooltip min-width="10%" align="center"></el-table-column>
                            <el-table-column prop="lxrsj" label="联系人手机" show-overflow-tooltip min-width="10%" align="center"></el-table-column>
                            <el-table-column prop="qrzt" label="确认状态" show-overflow-tooltip min-width="10%" align="center">
                                <template slot-scope="scope">
                                    <span v-if="tableQrzt == '1'" style="color:#42D885">已确认</span>
                                    <span v-else style="color:#e40613">未确认</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="qrsj" label="上次确认时间" show-overflow-tooltip min-width="20%" align="center"></el-table-column>
                        </el-table>

                        <!--列表底部工具条和分页符-->
                        <el-row type="flex" justify="end">
                            <el-col :span="18">
                                <el-pagination @current-change="currentPageChange" @size-change="pageSizeChange" :current-page="currentPage" :page-sizes="[10, 20, 30]"
                                    :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total=parseInt(total)>
                                </el-pagination>
                            </el-col>
                        </el-row>
                    </div>
                </div>

            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/statistical/exhprediction_confirm.js"></script>

</html>