<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <link rel="stylesheet" type="text/css" href="../../static\css\planobject\importantunits_detail.css"> -->
    <title>按确认信息</title>
</head>

<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="tableView">
                    <el-row class="mb5">
                        <el-form>
                            <el-form-item label="确认时间">
                                <el-date-picker v-model="dataRange" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']">
                                </el-date-picker>
                                <el-button type="primary" icon="el-icon-search" size="small" @click="getAllData">查询</el-button>
                            </el-form-item>
                        </el-form>
                    </el-row>
                    <div class="echartsBox rel tjfxstyle">
                        <div id="bar" class="h100 w60 l">
                        </div>
                        <div id="pie" class="h100 w40 l">
                        </div>
                    </div>
                    <div class="inform-content">
                        <div class="table_container">
                            <el-table id="table" border class="tableStyle" :height="tableheight" :data="tjfxtabledata" row-style="height:40px">
                                <!-- <el-table-column type="index" show-overflow-tooltip label="序号" width="65" align="center"></el-table-column> -->
                                <el-table-column prop="qrztmc" label="是否进行信息确认" show-overflow-tooltip min-width="30%" align="center">
                                    <template slot-scope="scope">
                                        <a v-text="scope.row.qrztmc"></a>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="qrztsl" label="企业数量" show-overflow-tooltip min-width="30%" align="center"></el-table-column>
                                <el-table-column prop="qrztpercent" label="比重" show-overflow-tooltip min-width="30%" align="center">
                                    <template slot-scope="scope">
                                        <span v-text="scope.row.qrztpercent+'%'"></span>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                        <!-- <el-row type="flex" justify="end" class="mt10 mb10">
                            <el-col :span="15">
                                <el-pagination layout="total" :total=parseInt(total)>
                                </el-pagination>
                            </el-col>
                            <div class="r" style="margin-right:10px !important;">
                                <el-button type="success" icon="el-icon-download" size="small" @click="exportClick">导出</el-button>
                            </div>
                        </el-row> -->
                    </div>
                </div>
            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/echarts-2/echarts-all.js"></script>
<script src="../../static/js/echarts-4/echarts.js"></script>
<script src="../../static/js/statistical/statistical_confirm.js"></script>

</html>