<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="../../static\css\planobject\importantunits_detail.css">
    <title>按产品类型</title>
</head>

<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="tableView">
                    <div class="echartsBox" style="height:450px;">
                        <div id="bar" class="application-text">
                        </div>
                    </div>
                    <div class="inform-content" >
                        <div class="table_container">
                            <el-table border id="table" class="tableStyle" :data="this.tjfxdata" :height="tableheight">
                                <el-table-column type="index" show-overflow-tooltip label="序号" width="65" align="center"></el-table-column>
                                <el-table-column prop="cplxmc" label="产品类型" show-overflow-tooltip min-width="28%" align="center"></el-table-column>
                                <el-table-column prop="czqysl" label="参展企业数量" show-overflow-tooltip min-width="28%" align="center"></el-table-column>
                                <el-table-column prop="bwzwgssl" label="标准展位数量" show-overflow-tooltip min-width="28%" align="center"></el-table-column>
                                <el-table-column prop="gdzwmj" label="光地展位面积m2" show-overflow-tooltip min-width="28%" align="center"></el-table-column>
                            </el-table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/echarts-2/echarts-all.js"></script>
<script src="../../static/js/echarts-4/echarts.js"></script>
<script src="../../static/js/statistical/report1.js"></script>
</html>