<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <!-- <link rel="stylesheet" type="text/css" href="../../static\css\planobject\importantunits_detail.css"> -->
    <title>按面积范围</title>
</head>

<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="tableView">
                    <!-- <div class="nameBox">
                        <el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
                            <el-row>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">开始时间</label>
                                    <el-input size="small" v-model="searchForm.dateStart" placeholder="开始时间"></el-input>
                                </el-col>
                            </el-row>
                        </el-form>
                    </div> -->
                    <div class="echartsBox rel tjfxstyle">
                        <div class="echarts-refresh abs" style="margin-left:300px;margin-top:23px;">
                            <a class="m0 l"  href="#" @click="refresh()">
                                <img src="../../static/images/echarts-refresh.png" width="100%" height="100%" />
                            </a>
                        </div>
                        <div id="bar" class="h100 w60 l">
                        </div>
                        <div id="pie" class="h100 w40 l">
                        </div>
                    </div>
                    <div class="inform-content">
                        <div class="table_container">
                            <el-table id="table" border class="tableStyle" :height="tableheight"
                                :data="this.tjfxtabledata" 
                                @selection-change="currentPageChange" row-style="height:40px">
                                <el-table-column type="index" show-overflow-tooltip label="序号" width="65" align="center"></el-table-column>
                                <el-table-column prop="cplxmc" label="产品类型" show-overflow-tooltip min-width="28%" align="center"></el-table-column>
                                <el-table-column prop="s1" label="24-50 m²" show-overflow-tooltip min-width="28%" align="center"></el-table-column>
                                <el-table-column prop="s2" label="50-100 m²" show-overflow-tooltip min-width="28%" align="center"></el-table-column>
                                <el-table-column prop="s3" label="100-200m²" show-overflow-tooltip min-width="28%" align="center"></el-table-column>
                                <el-table-column prop="s4" label="200 m²以上" show-overflow-tooltip min-width="28%" align="center"></el-table-column>
                               
                            </el-table>
                            
                            <!--列表底部工具条和分页符-->
                            <!-- <el-row type="flex" justify="end">
                                <el-col :span="18">
                                    <el-pagination @current-change="currentPageChange" :current-page="currentPage" layout="total, prev, pager, next, jumper"
                                    :total=parseInt(total)>
                                    </el-pagination>
                                </el-col>
                            </el-row> -->
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/echarts-2/echarts-all.js"></script>
<script src="../../static/js/echarts-4/echarts.js"></script>
<script src="../../static/js/statistical/statistical_area.js"></script>
</html>