input[type=file] {
    display: none;
}
/*
.el-cascader,.el-select{
    width: 100%;
}
.main-container {
    padding: 20px;
}
.el-form-item {
    width: 100%;
    margin-bottom: 5px;
}
.el-form-item__label{
    width: 30%;
}
.el-form--inline .el-form-item__content {
    width: 70%;
}

.el-form-item__content {
    margin-left: 0 !important; 
}
.el-form-item__error {
    padding-top: 8px;
}
.el-input-number--small{
    line-height: 28px;
}
.el-card__header{
    padding: 0px 20px;
   
}*/
#qycpArea .el-form-item__error {
    padding-top: 8px !important; 
}
#cp_card .el-card__header{
    padding: 1px 15px; 
}
.el-card__body{
    padding: 10px 0px 10px 0px;    
}
.el-message{
    z-index: 10005 !important;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
.avatar {
    width: 100px;
    height: 100px;
    display: block;
  }
.el-dialog{
    width: 45%;
}
.el-button--small{
    padding: 9px 9px;
}
.yxLabel{
    text-align: right;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    font-weight: 700;
    max-width: 100%;
    margin-bottom: 5px;
}
#cplx_btn_group{
    margin-bottom: 10px;
}
#cplx_btn_group .el-button--small{
    margin-right: 10px;
}
#cplx_btn_group .el-button+.el-button {
    margin-left: 0;
}
#cplx_chb_group .el-checkbox{
    margin-right: 30px;
}
#cplx_chb_group .el-checkbox+.el-checkbox {
    margin-left: 0;
}
#cplx_btn_group .el-form-item__error {
    padding-top: 8px;
}
#tagCheckbox .el-checkbox__label{
    padding-left:5px;
    font-size: 10px;
}