#cpjs .el-form-item__content {
    width: 100% !important;
}
#cpjsImg img{
    max-height: 100%;
    max-width: 100%;
}
#cpjs .el-form-item:nth-child(even){
    margin-right: 0;
}
.inform-content .el-tabs__content {
    padding: 20px 25px 20px 30px !important;
}
#previewImgDialog .el-dialog{
    background-color: rgba(0, 0, 0, 0.2);
}
#qyzwyx .el-input-number--small {
    width: 300px;
}

/* .remark{
    line-height: 24px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: 80%;
} */

.remarka{
    width: 100%;
}

.row{
    display: flex;
    /* wrap:no-wrap; */
}

.topScroll{
    position: fixed;
    top:51px;
    right:calc(10% - 156px);
    /* background:#fff; */
    /* width: calc(100% - 216px); */
}

.redFont{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.greenFont{
    color: #67c23a;
    border: 1px solid #67c23a;
}
.yellowFont{
    color: #f7962f;
    border: 1px solid #f7962f;
}
#cpjs .el-card__body {
    height: 106px;
}
#option{
    position: fixed;
    bottom: 0;
    background:#fff;
    z-index:2;
    height: 50px;
    width: 100%;
}