<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <META http-equiv="X-UA-Compatible" content="IE=9" />
    <title>展馆选择</title>
    <meta name="keywords" />
    <meta name="description" />
    <link rel="stylesheet" href="/static/css/plan/style1.css"/>
    <link rel="stylesheet" href="/static/css/plan/ui-dialog.css"/>
    <link rel="stylesheet" href="/static/css/plan/xf.css"/>
    <script src="../../static\js\common\config.js"></script>
</head>

<body>
<input type="hidden" id="hfAct" name="hfAct" />
<!-- <div class="divh10"></div> -->
<body class="fw f14 main-index-body">
    <div id="app">	
        <div class="main-box">	
            <div class="main-container">
            <!-- 面包屑 -->
            <div id="breadcrumb_box"></div>
            
            <div class="containers clearfix">
                <div class="zgzongpmt">
                <div class="title">
                    <span>展馆平面图</span>
                </div>
                <div class="content">
                    <div class="west">南登录厅</div>
                <div class="south">东登录厅</div>
                <div class="east">西登录厅</div>
                    <div class="north"><a href="javascript:;" @click="planClick('7DBEDCE714DBEC8DE050007F01003EF1')"  target="_blank">室外展区</a></div>
                <div class="wqu ">
                    <ul class="clearfix">
                    <li>
                        <h1><span><a href="javascript:;" @click="planClick('7D5D040F274DAE6EE050007F010038F8')"  target="_blank">装备器材类展区</a></span></h1>
                        <h2>卸货区</h2>
                        <!-- <h1><span><a href="javascript:;" @click="planClick('9494385990084C7B9AA05256A3F5E052')"  target="_blank">综合馆</a></span></h1>
                    -->
                    <h1><span><a   target="_blank">综合馆</a></span></h1>
                    </li>
                    <li class="double sec">
                        <h1><span><a href="javascript:;" @click="planClick('7D6E36A4AFD76787E050007F010078DA')" target="_blank">装备器材类展区</a></span></h1>
                        <h2>卸货区</h2>
                        <h1><span><a href="javascript:;" @click="planClick('7D702E88928B3ABFE050007F0100591B')" target="_blank">消防车辆类展区</a></span></h1>
                    </li>
                    <li>
                        <h1><span><a href="javascript:;" @click="planClick('7D6C9486A4F3BD83E050007F01002DC8')" target="_blank">建筑防火类展区</a></span></h1>
                        <h2>卸货区</h2>
                        <h1><span><a href="javascript:;" @click="planClick('7D6E5081F9236243E050007F010078E8')" target="_blank">建筑防火类展区</a></span></h1>
                    </li>
                    <li class="double">
                        <h1><span><a href="javascript:;" @click="planClick('7D702E88928A3ABFE050007F0100591B')" target="_blank">消防车辆类展区</a></span></h1>
                        <h2>卸货区</h2>
                        <h1><span><a href="javascript:;" @click="planClick('7D6E508202416243E050007F010078E8')" target="_blank">消防车辆类展区</a></span></h1>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>  
        </div>  
    </div> 
</body>
<script src="/static/js/plan/plan_list.js"></script>
</html>
