<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>China Fire 2019 Exhibitor System</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="renderer" content="webkit" />
    <link rel="dns-prefetch" href="//s3.pstatp.com/" />
    <link rel="dns-prefetch" href="//s3a.pstatp.com/" />
    <link rel="dns-prefetch" href="//s3b.pstatp.com" />
    <link rel="dns-prefetch" href="//p1.pstatp.com/" />
    <link rel="dns-prefetch" href="//p3.pstatp.com/" />
    <link rel="icon" href="../static/images/login/logo.png">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui"
    />
    <meta name="360-site-verification" content="b96e1758dfc9156a410a4fb9520c5956" />
    <meta name="360_ssp_verify" content="2ae4ad39552c45425bddb738efda3dbb" />
    <meta name="google-site-verification" content="3PYTTW0s7IAfkReV8wAECfjIdKY-bQeSkVTyJNZpBKE" />
    <meta name="shenma-site-verification" content="34c05607e2a9430ad4249ed48faaf7cb_1432711730" />
    <meta name="baidu_union_verify" content="b88dd3920f970845bad8ad9f90d687f7" />
    <meta name="domain_verify" content="pmrgi33nmfuw4ir2ej2g65lunfqw6ltdn5wselbcm52wszbchirdqyztge3tenrsgq3dknjume2tayrvmqytemlfmiydimddgu4gcnzcfqrhi2lnmvjwc5tfei5dcnbwhazdcobuhe2dqobrpu"
    />
    <meta name="keywords" content="中国消防协会后台管理系统" />
    <meta name="description" content="中国消防协会后台管理系统" />
    <link href="../static/css/login_ENG.css" id="css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />
    <style type="text/css">
        @media(max-width:960px) {}
    </style>
</head>

<body>
    <div id="app">
        <div class="tc abs">
            <!--center-->
            <div class="login_center">
                <div class="lg_center"></div>
                <div class="QRCode" ></div>
                <div class="lanz"><p><span class="lana" @click="changeLanguage()">中文</span><a class="lan">&nbsp;&nbsp;|&nbsp;&nbsp;</a><span class="lanb">English</span></p></div>
                <div class="Login">
                    <div id="login" class="Login_n" v-show="formFlag=='loginFlag'||formFlag=='bakFlag'">
                        <div class="Login_nTop">
                            <!-- <a @click="changeForm('GLYloginFlag')">
                                <img width="26" height="26" src="../static/images/login/icon-changeuser_hover.png" onMouseOver="this.src='../static/images/login/icon-changeuser.png'"
                                    onMouseOut="this.src='../static/images/login/icon-changeuser_hover.png'" draggable="false"></a> -->
                            <span class="yhdl_span current">User Login</span>
                            <div style="float:right;font-size: 8px;color: #fb6a74">No Account?<a @click="changeForm('regFlag')"><u
                                        style="color: #fb6a74">To Register</u></a></div>
                        </div>
                        <form ref="loginForm" id="loginForm" autocomplete="off" name="loginForm" action="/xfxhapi/login" method="post">
                            <ul id="forma" style="display:block;">
                                <li>
                                    <i class="icon-user"></i>
                                    <input type="text" class="inputstyle" v-model="username" name="username" ref="username" id="username" placeholder="Username">
                                </li>
                                <li>
                                    <i class="icon-password"></i>
                                    <input type="password" class="inputstyle" v-model="password" name="password" id="password" placeholder="Password">
                                </li>
                                <li>
                                    <i class="icon-verficode" style="margin-left:14px;"></i>
                                    <input type="text" class="inputstyle" v-model="validateCode" name="validateCode" id="validateCode" placeholder="Verification Code" @keyup.enter="login()">
                                    <a href="javascript:;" @click="reloadCode()">
                                        <img v-bind:src="src" id="checkCode" class="verficode" onerror="javascript:this.src='../static/images/img-error.png';" style="vertical-align: bottom;border-radius:20px;"
                                            width="50" height="20">
                                    </a>
                                </li>
                            </ul>
                            <div class="formbar" style="margin-left:21px;">
                                <!-- <input class="checkbox" type="checkbox" name="rememberMe" id="rememberMe" />&nbsp;&nbsp;
                                <span style="color:#fb6a74">Remember Me</span>
                                <br/> -->
                                <a @click="changeForm('FPBFlag')">Forget Your Password</a>
                                <a>&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                                <a @click="changeForm('FUAFlag')">Forget Your Username</a>
                                <!-- <a>&nbsp;&nbsp;|&nbsp;&nbsp;</a> -->
                                <!-- <a @click="changeForm('REAAFlag')">Reset Your Username and Password</a> -->
                                <!-- <a>&nbsp;&nbsp;|&nbsp;&nbsp;</a> -->
                            </div>
                            <div class="LoginBtn">
                                <a @click="login()" id="lg" style="display:block;margin-top:30px;">Login</a>
                                <a @click="nlogin()" id="nlg" style="display:none;margin-top:30px;">Login</a>
                            </div>
                            <input type="hidden" class="loginType" name="loginType" v-model="loginType"/>
                            <input type="hidden" class="comfrom" name="comfrom" v-model="ENcomfrom"/>
                        </form>
                    </div>
                    <div id="reg" class="Login_n" v-show="formFlag=='regFlag'">
                        <div class="Login_nTop"><span class="yhzc_span current">User Registration</span>&nbsp;&nbsp;
                            <div class="tops" style="float:right;font-size: 8px;color:#fb6a74;">&nbsp;&nbsp;Existing Accounts?<a @click="changeForm('loginFlag')"><u style="color:#fb6a74;">Go Login</u></a></div>
                        </div>
                        <form autocomplete="off" name="reg-form">
                            <ul>
                                <!-- <li>
                                    <i class="icon-call"></i>
                                    <input type="text" class="inputstyle" v-model="mobile" name="mobile" id="mobile" placeholder="请输入手机号" @blur="mobileCheck">
                                    <button type="button" id="mobile-btn" class="verficode phonebtn" @click="getMessageCode()" v-text=messageCodeText></button>
                                    <p class="alert" v-show="mobileAlertFlag">*请填写正确的手机号码</p>
                                </li>
                                <li>
                                    <i class="icon-code"></i>
                                    <input type="text" class="inputstyle" v-model="messageCode" name="messageCode" id="messageCode" placeholder="请输入手机验证码" @blur="messageCodeCheck">
                                    <p class="alert" v-show="messageCodeAlertFlag">*请填写正确的手机验证码</p>
                                </li> -->
                                <li>
                                    <i class="icon-email"></i>
                                    <input type="text" class="inputstyle" v-model="mail" name="mail" id="mail" placeholder="Email" @blur="mailCheck">
                                    <button type="button" id="mail-btn" class="verficode phonebtn" @click="getMailCode()" v-text=mailCodeText></button>
                                    <p class="alert" v-show="mailAlertFlag">*Please fill in the correct E-mail number</p>
                                </li>
                                <li>
                                    <i class="icon-message"></i>
                                    <input type="text" class="inputstyle" v-model="mailCode" name="mailCode" id="mailCode" placeholder="Mail Verification Code" @blur="mailCodeCheck">
                                    <p class="alert" v-show="mailCodeAlertFlag">*The verification code can not be empty!</p>
                                </li>
                                <li>
                                    <i class="icon-password"></i>
                                    <!-- 请输入密码 -->
                                    <input type="password" class="inputstyle" v-model="password1" name="password1" id="password1" placeholder="Please input a password" @focus="password1Tip"
                                        @blur="password1Check">
                                    <p class="tip" v-show="password1TipFlag" style="margin-left: -8px !important;">*Password must be 6-16-bit alphanumeric combination.</p>
                                    <p class="alert" v-show="password1AlertFlag">*Password is not in order. Please fill it out again.</p>
                                </li>
                                <li>
                                    <i class="icon-password-true"></i>
                                    <!-- 请再次输入密码 -->
                                    <input type="password" class="inputstyle" v-model="password2" name="password2" id="password2" placeholder="Please input the password again" @blur="password2Check">
                                    <p class="alert" v-show="password2AlertFlag">*The two entries do not match. Please fill in again.</p>
                                </li>
                            </ul>
                            <div style="margin-top:16.5px !important;" class="LoginBtn">
                                <a @click="register()">Register</a>
                            </div>
                            <input type="hidden" class="loginType" name="loginType" />
                        </form>
                    </div>
                    <div id="forgetUsername" class="Login_n" v-show="formFlag=='FUAFlag'||formFlag=='FUBFlag'">
                        <div class="Login_nTop"><span class="FU_span current">Username Recovery</span>
                            <div style="float:right;font-size: 12px;"><a @click="changeForm('bakFlag')"><u class="btncolor">Back to Login</u></a></div>
                        </div>
                        <form id="FUAform" v-show="formFlag=='FUAFlag'" autocomplete="off">
                            <ul style="display:block;">
                                <li>
                                    <input type="text" class="kong">
                                </li>
                                <li>
                                    <i class="icon-email"></i>
                                    <input type="text" class="inputstyle" v-model="FUmail" name="FUmail" id="FUmail" placeholder="Association Email">
                                    <button type="button" id="FUmail-btn" class="verficode phonebtn" @click="getFUMailCode()" v-text=FUmailCodeText></button>
                                </li>
                                <li>
                                    <i class="icon-message"></i>
                                    <input type="text" class="inputstyle" v-model="FUmailCode" name="FUmailCode" id="FUmailCode" placeholder="Mail Verification Code">
                                </li>
                            </ul>
                            <div class="LoginBtn" id="btn_mt">
                                <a @click="FUIdentify()">Confirm</a>
                            </div>
                            <input type="hidden" class="loginType" name="loginType" />
                        </form>
                        <form id="FUBform" v-show="formFlag=='FUBFlag'" autocomplete="off">
                            <ul style="display:block;">
                                <li>
                                    <i class="icon-user"></i>
                                    <input type="text" class="inputstyle" v-model="FUusername" name="FUusername" id="FUusername" placeholder="Username">
                                    <button type="button" id="FUmobile-btn" class="verficode" @click="getFUMessageCode()" v-text=FUmessageCodeText></button>
                                </li>
                                <li>
                                    <i class="icon-code"></i>
                                    <input type="text" class="inputstyle" v-model="FUmessageCode" name="FUmessageCode" id="FUmessageCode" placeholder="短信验证码">
                                </li>
                                <li>
                                    <i class="icon-password"></i>
                                    <input type="password" class="inputstyle" v-model="FUpassword" name="FUpassword" id="FUpassword" placeholder="Password">
                                </li>
                                <li>
                                    <i class="icon-verficode"></i>
                                    <input type="text" class="inputstyle" v-model="FUvalidateCode" name="FUvalidateCode" id="FUvalidateCode" placeholder="Verification Code"
                                        @keyup.enter="login()">
                                    <a href="javascript:;" @click="reloadFUCode()">
                                        <img v-bind:src="FUsrc" id="FUcheckCode" class="verficode" onerror="javascript:this.FUsrc='../static/images/img-error.png';"
                                            style="vertical-align: bottom" width="50" height="20">
                                    </a>
                                </li>
                            </ul>
                            <div class="LoginBtn">
                                <a @click="FUlogin()">Login</a>
                            </div>
                            <input type="hidden" class="loginType" name="loginType" />
                        </form>
                    </div>
                    <div id="forgetPassword" class="Login_n" v-show="formFlag=='FPAFlag'||formFlag=='FPBFlag'||formFlag=='FPCFlag'||formFlag=='FPDFlag'">
                        <div class="Login_nTop"><span class="FP_span current">Password Modification</span>
                            <!-- 密码修改 -->
                            <div style="float:right;font-size: 12px;"><a @click="changeForm('bakFlag')"><u class="btncolor">Return Login</u></a></div>
                            <!-- 返回登录 -->
                        </div>
                        <form id="FPBform" v-show="formFlag=='FPBFlag'" autocomplete="off">
                            <ul style="display:block;">
                                <li>
                                    <input type="text" class="kong">
                                </li>
                                <li>
                                    <i class="icon-email"></i>
                                    <input type="text" class="inputstyle" v-model="FPBmail" name="FPBmail" id="FPBmail" placeholder="Email">
                                    <!-- 邮箱 -->
                                    <button type="button" id="FPBmail-btn" class="verficode phonebtn" @click="getFPBMailCode()" v-text=FPBmailCodeText></button>
                                </li>
                                <li>
                                    <i class="icon-message"></i>
                                    <!-- 邮件验证码 -->
                                    <input type="text" class="inputstyle" v-model="FPBmailCode" name="FPBmailCode" id="FPBmailCode" placeholder="Mail Verification Code">
                                </li>
                            </ul>
                            <div class="LoginBtn" id="btn_mt">
                                <!-- 确定 -->
                                <a @click="FPBIdentify()">Confirm</a>
                            </div>
                            <input type="hidden" class="loginType" name="loginType" />
                        </form>
                        <form id="FPDform" v-show="formFlag=='FPDFlag'" autocomplete="off">
                            <ul>
                                <li>
                                    <i class="icon-user"></i>
                                    <input type="text" class="inputstyle" v-model="FPDusername" name="FPDusername" id="FPDusername" placeholder="Username">
                                </li>
                                <li>
                                    <i class="icon-password"></i>
                                    <input type="password" class="inputstyle" v-model="FPDpassword1" name="FPDpassword1" id="FPDpassword1" placeholder="Please input a password"
                                        @focus="FPDpassword1Tip" @blur="FPDpassword1Check">
                                        <!-- 密码需为6-16位字母数字组合 -->
                                    <p class="tip" v-show="FPDpassword1TipFlag" style="margin-left: -8px !important;">*Must be 6-16 digit alphanumeric combination.</p>
                                        <!-- 密码不合规，请重新填写 -->
                                    <p class="alert" v-show="FPDpassword1AlertFlag">*Password is not compliant, please fill in again</p>
                                </li>
                                <li>
                                    <i class="icon-password"></i>
                                    <input type="password" class="inputstyle" v-model="FPDpassword2" name="FPDpassword2" id="FPDpassword2" placeholder="Please input the password again"
                                        @blur="FPDpassword2Check">
                                        <!-- 两次填写不一致，请重新填写 -->
                                    <p class="alert" v-show="FPDpassword2AlertFlag">*The two time is inconsistent, please fill in again</p>
                                </li>
                            </ul>
                            <div class="LoginBtn">
                                <!-- 修改密码 -->
                                <a @click="FPregister()">Change Password</a>
                            </div>
                            <input type="hidden" class="loginType" name="loginType" />
                        </form>
                    </div>
                </div>
                <!--
                <div class="footText"> If you have problems with login, registration and information entry,</div>
                <div class="footText2">  please contact technical support 024-31530337.</div>
                -->
            </div>
        </div>
    </div>
</body>

<script src="../static/js/zzzlib/vue.min.js"></script>
<script src="../static/js/zzzlib/jquery-3.2.1.min.js"></script>
<script src="../static/js/zzzlib/axios.min.js"></script>
<script src="../static/js/login_ENG.js"></script>
<script src="../static/js/common/config.js"></script>
<!-- <script>
    $(document).ready(function () {
        $(".loginType").val("MyShiro");
        $('.yhdl_span').click(function () {
            document.getElementById("formb").style.display = 'none';
            document.getElementById("forma").style.display = 'block';
            document.getElementById("nlg").style.display = 'none';
            document.getElementById("lg").style.display = 'block';
            $('.yhdl_span').addClass("current").siblings().removeClass("current");
            $('.sjcj_span').addClass("currentb").siblings().removeClass("currentb");
            $(".loginType").val("MyShiro");
        })
        $('.sjcj_span').click(function () {
            document.getElementById("forma").style.display = 'none';
            document.getElementById("formb").style.display = 'block';
            document.getElementById("lg").style.display = 'none';
            document.getElementById("nlg").style.display = 'block';
            $('.sjcj_span').addClass("current").siblings().removeClass("current");
            $('.yhdl_span').addClass("currentb").siblings().removeClass("currentb");
            $(".loginType").val("InfoCollect");
        })
    })
</script> -->

</html>