.el-form-item {
    margin-bottom: 0px !important;
    width: 100%;
}
.el-form-item__error{
    padding-top:0px;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color: #E8EFF4;
} 
.el-checkbox__label{
    padding-left: 5px;
}
.el-checkbox+.el-checkbox{
    margin-left: 20px;
}
.el-checkbox-group.editSelect{
    margin-left: 5px;
    margin-top: 5px;
}
.el-checkbox-group
.el-col.searchInline{
    margin-bottom: 2px;
}
.el-tree-node__content{
    height: 32px;
    line-height: 40px;
}